<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>:: Black & White ::</title>
    <!-- Enlace CSS -->
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Black and White Spa</h1>
    <form action="/cargar">
        <div>
            <label id="label" for="img">Imagen URL</label>
            <input type="text" id="img" name="img" placeholder="Imagen URL" >
        </div>
            <button type="submit"> Enviar Imagen </button>

    </form>
</body>
</html>