body {
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 150px;
}

#label {
    font-size: 25px;
}

#img {
    margin-left: 20px;
    font-size: 20px;
}
button {
    margin-top: 20px;
    font-weight: bold;
    font-size: 30px;
}